<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Experiment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let baseTime = Date.now();
        #foreach($item in $items)
            let divClicked$foreach.count = false;
        #end
        $('html').addClass('js');

        $(function() {
            let numDivs = document.getElementsByClassName("display").length;
            let responseTimes = document.getElementById("reactionTimes").value;

            #foreach($item in $items)
            $( '#div$foreach.count' ).click(function() {
                divClicked$foreach.count = true;
                responseTimes = responseTimes += Date.now() - baseTime + " ";
            });
            #end

            // This should be configurable
            const timer = setInterval(showDiv, $interval);

            let counter = 0;
            function showDiv() {
                $('div', '#container')
                        .stop()
                        .hide()
                        .after(resetBaseTime())
                        .filter(function() {
                            return this.id.match('div' + counter);
                        })
                        .show('fast');
                if (counter !== numDivs) {
                    counter++;
                }
                else {
                    clearInterval(timer);
                    // For debugging only
                    alert("Response Times: " + responseTimes);
                    showResults();
                }
            }
        });

        function resetBaseTime() {
            baseTime = Date.now()
        }

        function showResults() {
            // For debugging only
            let statuses ="";
            #foreach($item in $items)
                statuses = statuses + divClicked$foreach.count + " ";
            #end
            alert("Responses: " + statuses);
        }

    </script>
    <style type="text/css" media="screen">
        body {
            background-color: #fff;
            font: 16px Helvetica, Arial;
            color: #000;
        }
        .display {
            width: 300px;
            height: 200px;
            border: 2px solid #000;
        }
        .js .display {
            display: none;
        }
    </style>
</head>
<body>
<script>
    alert("Press to start");
</script>
<form name="experiment">
    <input type="hidden" name="responses" id="responses" />
    <input type="hidden" name="reactionTimes" id="reactionTimes" />
    <div id='container'>
        <div id='div0' class='display'>
            Begin Experiment
            <br/>
            <br/>
            <br/>
            <br/>
            $rule
        </div>
        #foreach($item in $items)
            <div id='div$foreach.count' class='display' style="background-color: $item.value;">
            </div>
        #end
        <div id='div$lastItem' class='display'>
            End Experiment
        </div>
    </div>
</form>

</body>

</html>